<h1>Listado de Usuarios</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Cognom</th>
        <th>Correo</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.nom }}</td>
        <td>{{ user.cognom }}</td>
        <td>{{ user.correo }}</td>
        <td><button class="btn btn-primary">Eliminar</button></td>
        <td><button class="btn btn-danger">Editar</button></td>
    </tr>
    {% endfor %}
</table>