{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

	{% block content %}
		<img src="{{ asset('imatges/logo.png') }}"> 
		<div class="container menuinici letra-default">

			<h4 class="letra-default titlemenu">Formularis</h4>

			<div class="butonsmenu">
			<p class="text-center"><a href="/symfony_m14/web/app_dev.php/create-tasca"><button class="btn btn-primary tamaño"> Crear tasca</button></a></p>
			<p class="text-center"><a href="/symfony_m14/web/app_dev.php/create-subtasca"><button class="btn btn-primary tamaño"> Crear subtasca</button></a></p>
			<p class="text-center"><a href="/symfony_m14/web/app_dev.php/create-user"><button class="btn btn-primary tamaño"> Crear usuario</button></a></p>
			</div>

		</div>
		<div class="footer letra-default">
			<p>
				<p>Created by: Jordi Baliellas & Jimmy Ramos</p>
				<p>Contact information: <a href="https://moodle.iescarlesvallbona.cat/">https://moodle.iescarlesvallbona.cat/</a></p>
			</p>
		</div>
	{% endblock %}