{% extends "base.html.twig" %}
{% block title %}User{% endblock %}

	{% block content %}

		{{form_start(form, {'action':'', 'method':'POST'})}} {{form_end(form)}}

		{% for item in data %}
			<p>{{ item }}</p>
		{% endfor %}

	{% endblock %}