{% extends "base.html.twig" %}
{% block title %}User{% endblock %}

	{% block content %}
		<div class="formproj">
		<div class="centrarform">

		{{form_start(form, {'action':'', 'method':'POST'})}} {{form_end(form)}}

		
		</div>
		</div>
	{% endblock %}